// Sweco

html,
body
{
  min-height: 100%;
  height: auto;
  height: 100%;
}

// Fixed body for non scroll content
.body-fixed
{
  overflow: hidden;
}

// Page
#page
{
  position: relative;
  min-height: 100%;
  height: 100%;
}

// Container
.container,
.container-fluid
{
  @include media-breakpoint-up(sm)
  {
    padding-left: $grid-gutter-width !important;
    padding-right: $grid-gutter-width !important;
  }
}

// Content
#content
{
  position: relative;
  min-height: 100%;
}

// If .navbar-north add .navbarNorth class to body
body.navbarNorth #content
{
  padding-top: $navbar-north-height;
  @include media-breakpoint-down(sm)
  {
    padding-top: (($navbar-north-height * 2) - 10px);
  }
}

// If .navbar-south add .navbarSouth class to body
body.navbarSouth #content
{
  padding-bottom: $navbar-south-height;
}

// Remove IE clear and reveal on inputs
::-ms-clear
{
  display: none;
}

::-ms-reveal
{
  display: none;
}

// Text selection
::selection
{
  background: $gray-lighter;
}
::-moz-selection
{
  background: $gray-lighter;
}

// Pointer events
.pointer-events-none
{
  -webkit-touch-callout: none;
  user-select: none;
  pointer-events: none;
  cursor: default;
}

.pointer-events-all
{
  -webkit-touch-callout: default;
  user-select: all;
  pointer-events: all;
  cursor: pointer;
}

// User select
.user-select-none
{
  user-select: none;
}

.user-select-all
{
  user-select: all;
}

// Inner scroll
.inner
{
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  overflow-scrolling: touch;
}

// Inner scroll-y
.inner-y
{
  @extend .inner;
  overflow-x: hidden;
}

// Inner scroll-x
.inner-x
{
  @extend .inner;
  overflow-y: hidden;
}

// Hide
.hide
{
  display: none !important;
}

// Typography
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
legend,
label,
strong, b, dt, th,
.btn, .nav, .pagination, .tag, .breadcrumb, .list-group
{
  font-family: $headings-font-family;
  font-weight: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Typography uppercase
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
legend,
label,
th,
.btn, .nav, .pagination, .tag, .breadcrumb, .list-group
{
  text-transform: uppercase;
}

// Headings color
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
legend,
label,
dt, th
{
  color: $headings-color;
}

h1,
.h1
{
  line-height: $line-height-h1 !important;
}

h2,
.h2
{
  line-height: $line-height-h2 !important;
}

h3,
.h3
{
  line-height: $line-height-h3 !important;
}

h4,
.h4
{
  line-height: $line-height-h4 !important;
}

h5,
.h5
{
  line-height: $line-height-h5 !important;
}

h6,
.h6
{
  line-height: $line-height-h6 !important;
}

// Typography size class
.font-size-xs
{
  font-size: $font-size-xs;
}
.font-size-sm
{
  font-size: $font-size-sm;
}
.font-size-base
{
  font-size: $font-size-base;
}
.font-size-lg
{
  font-size: $font-size-lg;
}
.font-size-xl
{
  font-size: $font-size-xl;
}

.display-1,
.display-2,
.display-3,
.display-4
{
  font-family: $font-family-regular;
  text-transform: none;
}

.display-1
{
  line-height: $line-height-display-1 !important;
}

.display-2
{
  line-height: $line-height-display-2 !important;
}

.display-3
{
  line-height: $line-height-display-3 !important;
}

.display-4
{
  line-height: $line-height-display-4 !important;
}

.page-header
{
  padding: ($spacer-y * 2) 0;
}

.lead,
blockquote
{
  font-family: $font-family-base;
  font-size: $font-size-base !important;
  @include media-breakpoint-up(sm)
  {
    font-size: $font-size-lg !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.text-muted
{
  font-size: inherit;
}

// Label
label,
.label
{
  @extend .user-select-none;
  cursor: pointer;
}

// Code
pre
{
  background-color: $code-bg;
  padding: $code-padding-y $code-padding-x;
  margin: $spacer-y 0 !important;
}

samp
{
  font-size: $font-size-sm !important;
}

// White text
.white-text
{
  color: $white;
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  legend,
  label,
  p, li, dt, dd, th, td,
  .lead,
  blockquote
  {
    color: inherit;
  }
  a
  {
    text-decoration: underline;
    color: $white;
    @include hover-focus
    {
      color: $white;
    }
  }
}

// Table
.table
{
  @extend .table-sm;
  &.table-bordered
  {
    thead
    {
      th
      {
        border-bottom-width: 1px;
      }
    }
    tr
    {
      transition: $transition;
    }
  }
}

// Icon spacing
.btn
{
  > .fa
  {
    margin-right: 10px;
    &.fa-angle-left,
    &.fa-angle-right
    {
      @extend .fa-lg;
      vertical-align: -8% !important;
    }
  }
}

.icon-right,
.fa-right
{
  margin-right: 0 !important;
  margin-left: 10px !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
{
  > .fa
  {
    margin-right: 10px;
  }
}

// Navbar
.navbar
{
  background: $navbar-bg;
  .container,
  .container-fluid
  {
    position: relative;
  }
  // Nav
  .nav,
  .nav.navbar-nav
  {
    padding-top: 15px;
    &.nav-top-right
    {
      position: absolute;
      top: 0;
      right: $spacer-y;
    }
    .nav-item
    {
      .nav-link
      {
        position: relative;
        color: $white;
        padding-top: 5px !important;
        padding-bottom: 2px !important;
        min-height: 30px !important;
        @include hover-focus-active
        {
          color: $white;
          text-decoration: none;
          background-color: transparent;
        }
        &:after,
        &:focus:after
        {
          position: absolute;
          bottom: 0px;
          left: 0;
          width: 100%;
          height: 1px;
          background: $white;
          content: '';
          opacity: 0;
          transition: height .2s, opacity .2s, transform .2s;
          transform: translateY(-5px);
        }
        &:hover:after,
        &:focus:after
        {
          height: 2px;
          opacity: 1;
          transform: translateY(0)
        }
        .fa
        {
          margin-right: 10px;
        }
      }
    }
  }
  &.navbar-north
  {
    min-height: $navbar-north-height;
    box-shadow: 0 5px $box-shadow-size $box-shadow;
    .logotype
    {
      margin-left: -$spacer-x;
    }
  }
  .search
  {
    display: none;
    position: relative;
    margin: 10px 0;
    @include media-breakpoint-down(sm)
    {
      margin-top: 0;
    }
    .form-control
    {
      background-clip: border-box !important;
      border-color: $input-bg;
      padding-right: 30px !important;
    }
    .btn-search
    {
      @extend .btn-info;
      margin-left: 0 !important;
      padding-left: 15px;
      padding-right: 14px;
      .fa
      {
        font-size: $font-size-lg;
        margin: -2px 0;
      }
    }
    .btn-search-reset
    {
      position: absolute;
      top: 10px;
      right: 60px;
      z-index: ($zindex-navbar-fixed + 5);
    }
  }
  &.navbar-south
  {
    min-height: $navbar-south-height;
    box-shadow: 0 -5px $box-shadow-size $box-shadow;
    // When fading in, animate it to slide up
    &.fade:not(.in)
    {
      transform: translate3d(0, 100%, 0);
    }
  }
}

// Front page
.body-front-page
{
  @extend .body-fixed;
  #content
  {
    display: none;
  }
}

.front-page
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-fixed-content;
  width: 100%;
  min-width: 100%;
  height: 100vh;
  display: table;
  background-image: $front-page-img;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: $body-bg;
  .hero
  {
    background-image: $overlay-pattern;
    background-repeat: repeat;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    @extend .white-text;
    h1
    {
      @include media-breakpoint-down(lg)
      {
        font-size: $font-size-h3;
      }
      @include media-breakpoint-down(sm)
      {
        font-size: $font-size-h4;
      }
    }
    .jumbo
    {
      background-color: $navbar-bg;
      @extend .white-text;
      padding: ($spacer-y * 2) ($spacer-x * 2);
    }
  }
}

// Button
.btn
{
  transition: $transition;
  text-transform: uppercase;
  text-decoration: none;
  outline: 0 !important;
  &.btn-secondary
  {
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active,
    .open > &.dropdown-toggle
    {
      background-color: $component-bg-hover !important;
    }
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] &
  {
    background: $btn-disabled-bg-color !important;
    border-color: $btn-link-disabled-color !important;
    color: $btn-link-disabled-color !important;
    opacity: 1 !important;
    &,
    &:hover,
    &:focus,
    &:active,
    &.active
    {
      background: $btn-disabled-bg-color !important;
      border-color: $btn-link-disabled-color !important;
      color: $btn-link-disabled-color !important;
      opacity: 1 !important;
    }
  }
  &.btn-outline-secondary
  {
    color: $btn-secondary-color;
    box-shadow: inset 0 0 0 0 $btn-primary-bg;
    &:hover,
    &:focus,
    &:active
    {
      box-shadow: inset $btn-outline-box-width 0 0 0 $btn-primary-bg;
      border-color: $btn-primary-bg;
    }
  }
  &.btn-outline-primary
  {
    box-shadow: inset 0 0 0 0 $btn-primary-bg;
    &:hover,
    &:focus,
    &:active
    {
      box-shadow: inset $btn-outline-box-width 0 0 0 $btn-primary-bg;
    }
  }
  &.btn-outline-info
  {
    box-shadow: inset 0 0 0 0 $btn-info-bg;
    &:hover,
    &:focus,
    &:active
    {
      box-shadow: inset $btn-outline-box-width 0 0 0 $btn-info-bg;
    }
  }
  &.btn-outline-warning
  {
    box-shadow: inset 0 0 0 0 $btn-warning-bg;
    &:hover,
    &:focus,
    &:active
    {
      box-shadow: inset $btn-outline-box-width 0 0 0 $btn-warning-bg;
    }
  }
  &.btn-outline-danger
  {
    box-shadow: inset 0 0 0 0 $btn-danger-bg;
    &:hover,
    &:focus,
    &:active
    {
      box-shadow: inset $btn-outline-box-width 0 0 0 $btn-danger-bg;
    }
  }
  &.btn-outline-success
  {
    box-shadow: inset 0 0 0 0 $btn-success-bg;
    &:hover,
    &:focus,
    &:active
    {
      box-shadow: inset $btn-outline-box-width 0 0 0 $btn-success-bg;
    }
  }
}
// Btn Bootstrap 3 shim
.btn-default
{
  @extend .btn-secondary;
}
.btn-xs
{
  @extend .btn-sm;
  padding: $btn-padding-y-xs $btn-padding-x-xs !important;
}

// Dropdowns
.dropdown-menu
{
  box-shadow: $dropdown-box-shadow !important;
  &:before,
  &:after
  {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    display: block;
    position: absolute;
    left: ($spacer-x / 2);
    z-index: 1;
  }
  &:before
  {
    border-width: 10px;
    border-bottom-color: $border-color;
    top: -20px;
  }
  &:after
  {
    margin-left: 0px;
    border-width: 10px;
    border-bottom-color: $white;
    top: -19px;
  }
  .dropdown-item
  {
    padding: $dropdown-item-padding-y $dropdown-item-padding-x !important;
    white-space: nowrap;
    &.active
    {
      &:hover
      {
        background-color: $dropdown-link-active-hover-bg !important;
      }
    }
  }
  .dropdown-divider
  {
    margin: 0 !important;
  }
  > div
  {
    @extend .inner-y;
    max-height: $dropdown-max-height !important;
  }
}

// Caret dropdown arrow
.dropdown-toggle
{
  .caret
  {
    @extend .hide;
  }
  &:after
  {
    font-family: FontAwesome;
    color: inherit;
    font-size: $font-size-lg;
    width: 12px !important;
    content: "\f107" !important;
    border: 0 !important;
    margin: -11px 0 16px 10px !important;
  }
}

.dropdown-toggle-split,
.btn-group .btn + .btn
{
  &:after
  {
    margin-left: 0 !important;
  }
}

.dropup
{
  .dropdown-toggle
  {
    &:after
    {
      content: "\f106" !important;
      border: 0 !important;
    }
  }
  .dropdown-menu
  {
    &:before
    {
      border-top-color: $border-color !important;
      border-bottom-color: transparent !important;
      top: auto !important;
      bottom: -20px !important;
    }
    &:after
    {
      border-top-color: $white !important;
      border-bottom-color: transparent !important;
      top: auto !important;
      bottom: -19px !important;
    }
  }
}

// Dropdown-menu Bootstrap 3 dropdown shim
ul.dropdown-menu
{
  @extend .list-unstyled;
  margin: $dropdown-margin-top 0 0 !important;
  padding: 0;
  > li
  {
    @extend .dropdown-item;
    padding: 0 !important;
    a
    {
      display: block;
      padding: $dropdown-item-padding-y $dropdown-item-padding-x;
      color: $dropdown-link-color !important;
      outline: 0 !important;
      text-decoration: none !important;
    }
    &.active a
    {
      color: $dropdown-link-active-color !important;
    }
    &.disabled a
    {
      color: $dropdown-link-disabled-color !important;
      text-decoration: none !important;
      cursor: $cursor-disabled !important;
      background-color: transparent !important;
    }
  }
}

.dropup ul.dropdown-menu,
.navbar-fixed-bottom ul.dropdown-menu
{
  margin-top: 0 !important;
  margin-bottom: $dropdown-margin-top !important;
}

// Close
.close
{
  transition: $transition;
  opacity: 1 !important;
  &:hover
  {
    opacity: .6 !important;
  }
  .fa
  {
    margin: 0;
  }
}

// Close icon
.close-icon
{
  @include fa-icon;
  font-size: 0;
  color: transparent;
  &:before
  {
    content: $fa-var-times-circle;
    color: $close-color;
    font-size: $font-size-xl;
  }
}

// Panels and wells
.panel,
.well
{
  position: relative;
  display: block;
  background-color: $white;
  @include clearfix;
  padding: $spacer-y ($spacer-x * 2);
  margin-bottom: ($spacer-y * 2);
  @include media-breakpoint-down(xs)
  {
    padding-left: $spacer-x !important;
    padding-right: $spacer-x !important;
  }
  &.well-default,
  &.well-secondary
  {
    background-color: $gray-superlight;
  }
  &.well-info
  {
    background-color: $brand-info;
  }
  &.well-warning
  {
    background-color: $brand-warning;
  }
  &.well-info,
  &.well-warning
  {
    @extend .white-text;
  }
}

// Forms
fieldset
{
  @include clearfix;
  padding: $spacer-y $spacer-x !important;
  margin-bottom: $spacer-y !important;
  background-color: $fieldset-bg !important;
}

.col-form-label
{
  padding-right: 0 !important;
}

// Form-control
.form-control
{
  transition: $transition;
  // ios fix
  &[type="date"],
  &[type="month"],
  &[type="week"],
  &[type="time"],
  &[type="datetime-local"]
  {
    -webkit-appearance: textfield;
    min-height: $input-height;
    padding: .52rem $input-padding-x;
  }
  &[disabled],
  &[readonly],
  fieldset[disabled] &
  {
    background-clip: border-box !important;
    &:placeholder
    {
      color: $disabled-color;
    }
  }
  &.form-control-sm
  {
    font-size: $font-size-base !important;
    line-height: $input-line-height !important;
  }
}

// Input group
.input-group
{
  .form-control
  {
    min-height: 2.67rem;
    &.form-control-lg
    {
      min-height: 3.34rem;
    }
    &.form-control-sm
    {
      min-height: 2rem;
    }
  }
  &.input-group-lg
  {
    .btn
    {
      min-height: $input-height-lg;
    }
  }
}
.ie .input-group .form-control
{
  min-height: 41px;
  &.form-control-lg
  {
    min-height: $input-height-lg;
  }
  &.form-control-sm
  {
    min-height: $input-height-sm;
  }
}

// Checkbox and radio
.form-check-input,
input[type="checkbox"],
input[type="radio"]
{
  margin-right: .5rem;
}

// Input-group
.input-group-addon
{
  color: $input-group-addon-color !important;
}

.input-group-sm .input-group-btn .btn
{
  height: $input-height-sm;
  max-height: 2rem;
}

// Textarea
textarea.form-control
{
  min-height: 80px;
}

// Selects
select.form-control:not([size]):not([multiple])
{
  @extend .custom-select;
  &.form-control-sm
  {
    padding-top: .36rem;
    padding-bottom: .36rem;
  }
}

select.form-control[multiple]
{
  @extend .inner-y;
  max-height: 80px;
}

// Custom-file
.custom-file
{
  width: 100%;
  .custom-file-control
  {
    &:after
    {
      @extend label;
      color: $input-color-placeholder !important;
    }
    &:before
    {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: FontAwesome;
      content: "\f093" !important; // fa-upload
      color: $white !important;
      font-size: $font-size-lg;
      line-height: .7;
      background-color: $btn-info-bg !important;
      transition: $transition;
    }
    &:hover
    {
      &:before
      {
        background-color: darken($btn-info-bg, 10%) !important;
      }
    }
  }
  .custom-file-input
  {
    &:focus
    {
      + .custom-file-control
      {
        background-color: $input-bg-focus !important;
        border-color: $input-border-focus !important;
      }
    }
  }
}

// Checkboxes & radios
.check,
.radio
{
  position: relative;
  label
  {
    margin: 0 !important;
    padding: 10px 0 0 30px !important;
    min-height: 27px;
    cursor: pointer;
    @extend .user-select-none;
    &:hover
    {
      &:before,
      &:after
      {
        color: darken($btn-info-bg, 10%);
      }
    }
  }
  input
  {
    @extend .hide;
  }
  input + label:before,
  input + label:after
  {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: $zindex-btn;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: FontAwesome;
    color: $btn-info-bg;
    font-size: 23px;
    cursor: pointer;
    transition: $transition;
  }
  input + label:before
  {
    top: 13px;
    left: 1px;
    width: 17px;
    height: 17px;
    content: "";
    background-color: $white;
    border-radius: 50%;
  }
  &.has-success
  {
    label:after
    {
      color: $state-success-text !important;
    }
    &:hover
    {
      label:after
      {
        color: darken($state-success-text, 10%) !important;
      }
    }
  }
  &.has-warning
  {
    label:after
    {
      color: $state-warning-text !important;
    }
    &:hover
    {
      label:after
      {
        color: darken($state-warning-text, 10%) !important;
      }
    }
  }
  &.has-danger
  {
    label:after
    {
      color: $state-danger-text !important;
    }
    &:hover
    {
      label:after
      {
        color: darken($state-danger-text, 10%) !important;
      }
    }
  }
  input[disabled] + label:before,
  input[disabled] + label:after,
  input[disabled] + label
  {
    color: $disabled-color !important;
    @extend .pointer-events-none;
    &:hover
    {
      color: $disabled-color !important;
      @extend .pointer-events-none;
    }
  }
}
.check
{
  input + label:after
  {
    content: "\f0c8"; // fa-var-square
    font-size: 23px;
  }
  input:checked + label:after
  {
    content: "\f14a"; // fa-var-check-square
    font-size: 23px;
  }
}
.radio
{
  input + label:before,
  input + label:after
  {
    top: 11px;
  }
  input + label:after
  {
    content: "\f111"; // fa-var-circle
  }
  input + label:after,
  input:checked + label:after
  {
    top: 5px;
  }
  input:checked + label:after
  {
    content: "\f058"; // fa-var-check-circle
  }
  label
  {
    padding-top: 0;
  }
}

// Alert
.alert
{
  border-width: 2px !important;
  .close
  {
    color: inherit !important;
    margin-top: -1px;
  }
  a
  {
    color: inherit !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
}

// Jumbotron
.jumbotron
{
  @extend .white-text;
  h1
  {
    @include media-breakpoint-down(lg)
    {
      font-size: $display4-size;
    }
    @include media-breakpoint-down(sm)
    {
      font-size: $font-size-h2;
    }
  }
  .well
  {
    @extend .well-info;
    margin-bottom: 0;
    background-color: transparent;
    border: 1px solid $white;
  }
}

// Navs, includes shim for BS 3
.nav
{
  .nav-item,
  > li
  {
    @extend .nav-item;
    text-transform: $nav-text-transform;
    .nav-link,
    > a
    {
      @extend .nav-link;
      transition: $transition;
      color: $nav-link-color;
      min-height: 40px;
      &:hover,
      &:active,
      &:focus
      {
        @include hover-focus-active
        {
          color: $nav-link-hover-color;
          text-decoration: none;
          background-color: $nav-link-hover-bg;
          outline: 0;
        }
      }
    }
  }
  &.nav-tabs
  {
    @extend .nav-tabs;
    border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
    > li
    {
      float: left;
      margin-bottom: -$nav-tabs-border-width;
      > a
      {
        padding: $nav-link-padding;
        border: $nav-tabs-border-width solid transparent;
        @include hover-focus
        {
          border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
        }
      }
      &.active a,
      a.active,
      a.open
      {
        @include plain-hover-focus
        {
          color: $nav-tabs-active-link-hover-color;
          background-color: $nav-tabs-active-link-hover-bg;
          border-color: $nav-tabs-active-link-hover-border-color $nav-tabs-active-link-hover-border-color transparent;
        }
      }
    }
  }
  &.nav-pills
  {
    > li
    {
      float: left;
      &:first-child
      {
        a,
        .nav-link
        {
          border-left: 1px solid $nav-border-color;
        }
      }
    }
    .nav-link,
    a
    {
      padding: $nav-link-padding;
      border-right: 1px solid $nav-border-color;
      &.disabled,
      &[disabled]
      {
        color: $nav-disabled-link-color !important;
        @include plain-hover-focus
        {
          background-color: transparent;
        }
      }
    }
    .active a,
    a.active,
    .nav-link.active,
    .open a
    {
      border-right: 1px solid $nav-border-color !important;
      @include plain-hover-focus
      {
        color: $nav-pills-active-link-color;
        cursor: default;
        background-color: $nav-pills-active-link-bg;
      }
      &:before
      {
        display: inline-block;
        font-family: FontAwesome;
        color: inherit;
        font-size: $font-size-lg;
        width: 15px !important;
        content: "\f105" !important;
        vertical-align: text-top;
        margin: -4px 0;
      }
    }
    &.nav-stacked
    {
      > li
      {
        float: none;
        display: block;
        &:first-child
        {
          .nav-link,
          a
          {
            border-left: 0;
            border-top: 1px solid $nav-border-color;
          }
        }
        > a
        {
          width: 100%;
        }
      }
      .nav-link,
      a
      {
        border-right: 0;
        border-bottom: 1px solid $nav-border-color;
      }
      .active a,
      a.active,
      .nav-link.active,
      .open a
      {
        border-right: 0 !important;
      }
    }
  }
}

// Pagination
.pagination
{
  .page-item,
  > li
  {
    @extend .page-item;
    + .page-item a
    {
      margin-left: $pagination-spacing !important;
    }
    .page-link,
    > a
    {
      transition: $transition;
      outline: 0 !important;
      min-width: 40px;
      height: 40px;
      border-radius: $pagination-border-radius;
      @include hover-focus-active
      {
        color: $component-color;
        text-decoration: none;
        background-color: transparent;
      }
    }
    &:first-child
    {
      .fa
      {
        margin: -1px 2px 0 -2px;
      }
    }
    &:last-child
    {
      .fa
      {
        margin: -1px -2px 0 2px;
      }
    }
  }
  .fa
  {
    font-size: $font-size-lg;
  }
  &.pagination-lg
  {
    .page-link
    {
      min-width: 50px;
      height: 50px;
      .fa
      {
        font-size: $font-size-xl;
      }
    }
  }
  &.pagination-sm
  {
    .page-link
    {
      min-width: 30px;
      height: 30px;
      .fa
      {
        font-size: $font-size-sm;
        margin-top: -4px;
      }
    }
  }
}

// Tags
.tag
{
  text-transform: uppercase;
  min-height: 20px;
  &.tag-pill
  {
    border-radius: $tag-pill-border-radius;
  }
}

// Breadcrumb
.breadcrumb
{
  @extend .list-unstyled;
  li
  {
    @extend .breadcrumb-item;
  }
  .breadcrumb-item,
  li > a
  {
    outline: 0;
  }
}

// List group
.list-group
{
  margin-bottom: $spacer-y !important;
  .list-group-item
  {
    position: relative;
    width: 100%;
    color: $list-group-link-color;
    text-align: inherit;
    text-transform: uppercase;
    transition: $transition;
    @include hover-focus
    {
      color: $list-group-link-hover-color;
      text-decoration: none;
      background-color: $list-group-hover-bg;
      outline: 0;
    }
    &:after
    {
      position: absolute;
      top: 6px;
      right: 10px;
      font-family: FontAwesome;
      color: inherit;
      font-size: $font-size-lg;
      width: 12px !important;
      content: "\f105" !important;
      border: 0 !important;
    }
    &.active
    {
      color: $component-active-color;
      @include hover-focus-active
      {
        background-color: $component-active-bg;
        color: $component-active-color;
        cursor: default;
      }
    }
    &.list-group-item-action
    {
      &:after
      {
        display: none;
      }
    }
    p
    {
      font-family: $font-family-regular;
      text-transform: none;
    }
  }
}

// Card
.card
{
  display: flex !important;
  flex-direction: column !important;
  border: 0 !important;
  margin-bottom: ($spacer-y * 2) !important;
  img
  {
    object-fit: cover;
  }
  .card-img-block
  {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    > img
    {
      object-fit: cover;
      max-width: 100%;
    }
  }
  .card-block
  {
    flex-grow: 1 !important;
  }
  .card-footer
  {
    display: flex !important;
    flex-direction: row !important;
    border-top: 0 !important;
    padding: 0 !important;
    .btn
    {
      @extend .btn-secondary;
      @extend .btn-sm;
      @extend .btn-block;
      @include hover-focus
      {
        color: $btn-primary-color !important;
        background-color: $btn-primary-bg !important;
      }
      border-width: 1px 0 0 0;
      margin-top: 0 !important;
      flex-grow: 1;
      & + .btn
      {
        border-left: 1px solid $btn-secondary-border !important;
      }
      .fa
      {
        margin-right: 5px;
        &.fa-angle-right
        {
          margin-left: 5px;
          margin-right: 0;
        }
      }
    }
  }
  &.card-info
  {
    background-color: $brand-info;
    @extend .white-text;
    .card-footer
    {
      .btn
      {
        @extend .btn;
        @extend .btn-info;
        @include hover-focus
        {
          color: $btn-info-color !important;
          background-color: darken($btn-info-bg, 10%) !important;
        }
        border-top: 1px solid $white !important;
        & + .btn
        {
          border-left: 1px solid $btn-secondary-border !important;
        }
      }
    }
  }
}

// Flex-row, row as flex
.row-flex
{
  > div[class*='col-']
  {
    display: flex;
    flex: 1 0 auto;
  }
  .card
  {
    width: 100%;
  }
}

// Flexbox horizontal
.flexbox-row
{
  display: flex;
  flex-direction: row;
}

// Flexbox vertical
.flexbox-col
{
  display: flex;
  flex-direction: column;
}

// Flex stretch
.flexbox-stretch
{
  align-items: stretch;
}

// Flex center
.flexbox-center
{
  justify-content: center;
}

// Flexbox no flex
.flexbox-0
{
  flex: 0 auto;
}

// Download
.download
{
  @extend .well;
  @extend .well-warning;
  margin-bottom: $spacer-y;
  .fa
  {
    @extend .fa-lg;
    margin-right: 10px;
  }
}


// Modal
.modal
{
  .modal-content
  {
    .modal-header
    {
      position: relative;
      background-color: $modal-header-bg;
      .modal-title
      {
        color: $modal-header-color;
        margin: 0;
      }
      .close
      {
        @extend .close-icon;
        position: absolute;
        top: 15px;
        right: $spacer-x;
        z-index: ($zindex-modal + 1);
        color: $white;
        margin: 0;
        @include media-breakpoint-up(sm)
        {
          &:before
          {
            font-size: $font-size-h2;
          }
        }
      }
      @include media-breakpoint-down(xs)
      {
        padding-top: 9px;
        padding-bottom: 9px;
        .modal-title
        {
          font-size: $font-size-h5;
        }
        .close
        {
          top: 8px;
        }
      }
    }
    .modal-body
    {
      padding: $spacer-y $spacer-x;
      .dialog
      {
        width: 100%;
        min-height: 90px;
        display: table;
        .dialog-body
        {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          h1, h2, h3, h4, h5
          {
            font-size: $font-size-h5;
            margin: 0;
          }
        }
      }
    }
    .modal-footer
    {
      border-top: 1px $modal-footer-border-color solid;
      padding: 0;
      @extend .flexbox-row;
      .btn
      {
        @extend .btn-block;
        display: flex;
        flex: 1;
        justify-content: center;
        margin: 0;
        border: 0;
      }
      .btn + .btn
      {
        margin: 0;
      }
      @include clearfix;
    }
    .dropdown-menu
    {
      z-index: $zindex-dropdown-modal;
    }
  }
}

// Modal page
.modal-page
{
  height: 100vh;
  min-height: 100%;
  .modal-dialog
  {
    position: relative;
    height: 100vh;
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    @include media-breakpoint-up(lg)
    {
      max-width: 960px !important;
    }
    @include media-breakpoint-down(lg)
    {
      max-width: 100% !important;
      margin-left: 0 !important;
    }
    .modal-content
    {
      height: 100vh;
      min-height: 100%;
      @extend .flexbox-col;
      padding: 0;
      overflow: hidden;
      .modal-header
      {
        @include media-breakpoint-up(md)
        {
          padding-left: ($spacer-x * 2);
          padding-right: ($spacer-x * 2);
        }
        .modal-header-btn-group
        {
          position: absolute;
          top: 10px !important;
          left: $spacer-x !important;
          .btn
          {
            @extend .btn-link;
            @extend .white-text;
          }
        }
      }
      .modal-body
      {
        flex: 1;
        @extend .inner-y;
        @include media-breakpoint-up(md)
        {
          padding: ($spacer-y * 2) ($spacer-x * 2);
        }
      }
    }
  }
}

.modal.fade:not(.in).modal-page .modal-dialog
{
  transform: translate3d(25%, 0, 0);
  .project-header
  {
    opacity: 0;
  }
}

