// Sweco

html,
body
{
  min-height: 100%;
  height: auto;
  height: 100%;
}

// Fixed body for non scroll content
.body-fixed
{
  overflow: hidden;
}

// Page
#page
{
  position: relative;
  min-height: 100%;
  height: 100%;
}

// Container
.container
{
  &.container-bg
  {
    background-color: $white;
  }
}

// Content
#content
{
  position: relative;
  min-height: 100%;
  padding-top: $navbar-north-height;
  padding-bottom: $navbar-south-height;
}

// Remove IE clear and reveal on inputs
::-ms-clear
{
  display: none;
}

::-ms-reveal
{
  display: none;
}

// Text selection
::selection
{
  background: $gray-lighter;
}
::-moz-selection
{
  background: $gray-lighter;
}

// Pointer events
.pointer-events-none
{
  -webkit-touch-callout: none;
  user-select: none;
  pointer-events: none;
  cursor: default;
}

.pointer-events-all
{
  -webkit-touch-callout: default;
  user-select: all;
  pointer-events: all;
  cursor: pointer;
}

// Inner scroll
.inner
{
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

// Inner scroll-y
.inner-y
{
  @extend .inner;
  overflow-x: hidden;
}

// Inner scroll-x
.inner-x
{
  @extend .inner;
  overflow-y: hidden;
}


// Typography
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
legend,
label,
table th
{
  color: $headings-color;
  text-transform: uppercase;
}

h1,
.h1
{
  line-height: $line-height-h1 !important;
}

h2,
.h2
{
  line-height: $line-height-h2 !important;
}

h3,
.h3
{
  line-height: $line-height-h3 !important;
}

h4,
.h4
{
  line-height: $line-height-h4 !important;
}

h5,
.h5
{
  line-height: $line-height-h5 !important;
}

h6,
.h6
{
  line-height: $line-height-h6 !important;
}

.display-1,
.display-2,
.display-3,
.display-4
{
  font-family: $font-family-regular;
  text-transform: none;
}

.display-1
{
  line-height: $line-height-display-1 !important;
}

.display-2
{
  line-height: $line-height-display-2 !important;
}

.display-3
{
  line-height: $line-height-display-3 !important;
}

.display-4
{
  line-height: $line-height-display-4 !important;
}

.page-header
{
  padding: ($spacer-y * 2) 0;
}

.lead
{
  font-family: $font-family-medium;
  font-size: $font-size-lg;
}

.text-muted
{
  font-size: inherit;
}

strong, b, dt
{
  font-family: $font-family-medium;
}

// Label
label[for]
{
  cursor: pointer;
  user-select: none;
}

// Table
.table
{
  @extend .table-sm;
  &.table-bordered
  {
    thead
    {
      th
      {
        border-bottom-width: 1px;
      }
    }
  }
}

// Icon spacing
.btn
{
  > .fa
  {
    margin-right: 5px;
    &.fa-angle-left,
    &.fa-angle-right
    {
      @extend .fa-lg;
      vertical-align: -8% !important;
    }
  }
}

.icon-right,
.fa-right
{
  margin-right: 0 !important;
  margin-left: 5px !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
{
  > .fa
  {
    margin-right: 10px;
  }
}

// Navbar
.navbar
{
  background: $navbar-bg;
  &.navbar-north
  {
    min-height: $navbar-north-height;
    box-shadow: 0 5px $box-shadow-size $box-shadow;
    .container
    {
      position: relative;
    }
    // Logotype
    .logotype
    {
      display: block;
      width: 120px;
      height: 60px;
      margin-left: -$spacer-x;
      img
      {
        width: 120px;
        height: 60px;
      }
      &:hover,
      &:focus,
      &:active
      {
        text-decoration: none;
        outline: 0;
      }
    }
  }
  .search
  {
    position: relative;
    margin: 10px 0;
    .form-control
    {
      background-clip: border-box !important;
      border-color: $input-bg;
      padding-right: 30px !important;
    }
    .btn-search
    {
      @extend .btn-info;
      margin-left: 0 !important;
      padding-left: 15px;
      padding-right: 14px;
      .fa
      {
        font-size: $font-size-lg;
        margin: -2px 0;
      }
    }
    .btn-search-reset
    {
      position: absolute;
      top: 10px;
      right: 60px;
      z-index: ($zindex-navbar-fixed + 5);
    }
  }
}

// Button
.btn
{
  text-transform: uppercase;
  outline: 0 !important;
  &.disabled,
  &[disabled],
  fieldset[disabled] &
  {
    background: $btn-disabled-bg-color !important;
    border-color: $btn-link-disabled-color !important;
    color: $btn-link-disabled-color !important;
    opacity: 1 !important;
    &,
    &:hover,
    &:focus,
    &:active,
    &.active
    {
      background: $btn-disabled-bg-color !important;
      border-color: $btn-link-disabled-color !important;
      color: $btn-link-disabled-color !important;
      opacity: 1 !important;
    }
  }
}

// Caret dropdown arrow
.dropdown-toggle
{
  .caret
  {
    @extend .hide;
  }
  &::after
  {
    font-family: FontAwesome;
    color: inherit;
    font-size: $font-size-lg;
    width: 12px !important;
    content: "\f107" !important;
    border: 0 !important;
    margin: -11px 0 16px 5px !important;
  }
}

.dropdown-toggle-split,
.btn-group .btn + .btn
{
  &::after
  {
    margin-left: 0 !important;
  }
}

.dropup
{
  .dropdown-toggle
  {
    &::after
    {
      content: "\f106" !important;
      border: 0 !important;
    }
  }
}

// Dropdowns
.dropdown-menu
{
  box-shadow: $dropdown-box-shadow !important;
  &::before,
  &::after
  {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    display: block;
    position: absolute;
    left: ($spacer-x / 2);
    z-index: 1;
  }
  &::before
  {
    border-width: 10px;
    border-bottom-color: $border-color;
    top: -20px;
  }
  &::after
  {
    margin-left: 0px;
    border-width: 10px;
    border-bottom-color: $white;
    top: -19px;
  }
}

ul.dropdown-menu
{
  @extend .list-unstyled;
  margin: 0;
  padding: 0;
  // @extend .inner-y;
  // max-height: $dropdown-menu-max-height;
}

// Close
.close
{
  opacity: 1 !important;
  &:hover
  {
    opacity: .6 !important;
  }
  .fa
  {
    margin: 0;
  }
}

// Forms
.form-control
{
  &[disabled],
  &[readonly],
  fieldset[disabled] &
  {
    &::placeholder
    {
      color: $disabled-color;
    }
  }
}

// Code
pre
{
  background-color: $code-bg;
  padding: $code-padding-y $code-padding-x;
  margin: $spacer-y 0 !important;
}

samp
{
  font-size: $font-size-sm !important;
}