  <div class="navbar navbar-fixed-bottom navbar-south fade {{if navbarSouthActive 'in'}}" role="navigation" id="navbarSouth">
    <div class="container">
<!-- TOOLBAR START -->
      <div class="toolbar">
        <button type="button" class="btn btn-info"><i class="fa fa-rocket fa-lg"></i><span class="txt">Test button</span></button>
      </div>
<!-- TOOLBAR STOP -->
    </div>
  </div>
