  <div class="navbar navbar-fixed-bottom navbar-south fade in" role="navigation" id="navbarSouth">
    <div class="container">
<!-- TOOLBAR START -->
      <div class="toolbar">
        <button type="button" class="btn btn-info"><i class="fa fa-github-alt" aria-hidden="true"></i><span class="txt">Git</span></button>
      </div>
<!-- TOOLBAR STOP -->
    </div>
  </div>
