  <div class="navbar navbar-fixed-bottom navbar-south fade in" role="navigation" id="navbarSouth">
    <div class="container">
<!-- NAV START -->
      <div class="text-xs-center">
        <ul class="nav navbar-nav d-inline-block m-x-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://github.com/sweco/sweco-digital-platforms" target="_blank" aria-label="Clone or fork Sweco visual identity manual - digital platforms to your computer."><i class="fa fa-github fa-lg" aria-hidden="true"></i><span class="hidden-sm-down">Sweco digital platforms on </span>GitHub</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/sweco/sweco-digital-platforms/raw/master/dist.zip" aria-label="Download latest distributed release as zip-archive Sweco visual identity manual - digital platforms to your computer." download="Sweco visual identity manual - digital platforms zip-archive"><i class="fa fa-download fa-lg" aria-hidden="true"></i>Download</a>
          </li>
        </ul>
      </div>
<!-- NAV STOP -->
    </div>
  </div>
